<ion-card>
  <div class="backdrop">
    <div [style.background]="bannerColors.colorOne" class="background-one"></div>
    <div class="half-ellipse"></div>
    <div class="background-two"></div>
    <div class="background-three"></div>
  </div>
  <ion-card-header class="ion-text-center">
    <input #fileUpload (change)="onFileSelect($event)" class="input" type="file">
    <ion-avatar (click)="fileUpload.click()" class="ion-margin-auto user-avatar">
      <ion-img src="../../../../assets/profile-pic.jpg"></ion-img>
    </ion-avatar>
    <ion-card-title class="ion-margin-top">
      Dmitry Safarov
      <ion-card-subtitle>
        Full Stack Developer
      </ion-card-subtitle>
    </ion-card-title>
  </ion-card-header>

  <div class="item-divider"></div>

  <ion-card-content>
    <div>
      <span>Who viewed your profile</span>
      <ion-text color="primary">467</ion-text>
    </div>

    <div class="connections">
      <span>Connections</span>
      <ion-text color="primary">500</ion-text>
    </div>
    <ion-card-subtitle color="dark">Manage your network</ion-card-subtitle>
  </ion-card-content>

</ion-card>
