ion-badge {
    position: absolute;
    margin-left: -6px;
    margin-top: -16px;
    height: 16px;
    width: 16px;
    border-radius: 9999px;
    font-size: 12px;
    font-weight: 400;
}

ion-text {
    font-weight: 400;
    font-size: 12px;
    margin-left: -1px;
}

ion-toolbar {
    height: 50px;
    ion-tab-button {
        padding-top: 4px;
    }
}